.form {
  background-color: #6233b9;
  padding: 1rem 2rem;
  width: 20rem;
  margin: 2rem auto;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.form label {
  display: block;
  margin-bottom: 0.05rem;
  color: #eadbfb;
  font-weight: bold;
}

.form input,
.form textarea {
  display: block;
  width: 100%;
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: none;
  background-color: #c4a9e4;
  color: #28262c;
  margin: 0.25rem 0;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-top: 0.7rem;
}

.actions button {
  cursor: pointer;
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 4px;
  background-color: #34036c;
  color: #e5d5f7;
}

.actions button:hover {
  background-color: #23014a;
}

.actions button[type='button'] {
  background-color: transparent;
}

.actions button[type='button']:hover {
  color: #d1bee6;
}

.error {
  color: #d85a58;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.backdrop {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.modal {
  border: none;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  padding: 0;
  overflow: hidden;
  z-index: 1;
}
